<div *ngIf="dataServiceProcessed == false" class="container"> 
    <mat-progress-bar mode="determinate" value="{{dataServiceCounter}}"></mat-progress-bar>
</div>
<div> 
    <mat-form-field appearance="legacy">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Examlpe input" #input width="100%" value={{ident}} id="filterinput">
        <mat-icon matSuffix>search</mat-icon>
        <!-- <mat-hint>Search for Community Mirror items</mat-hint> -->
    </mat-form-field>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="All">
            <table mat-table
                [dataSource]="dataSource" multiTemplateDataRows
                class="mat-elevation-z8">
                <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
                    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                        <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <div class="example-element-diagram">
                                <div class="example-element-position"> {{element.ident}} </div>
                                <div class="example-element-symbol"> {{element.value}} </div>
                                <div class="example-element-name"> {{element.title}} </div>
                            </div>
                            <div class="container">
                                <span class="placeholder"> -- Wikipedia </span>
                                <button class ="example-fill-remaining-space" (click)="parseMashupData()"  mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                                    <mat-icon>download</mat-icon>
                                </button>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                    class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                
            </table>
            <mat-paginator [pageSizeOptions]="[25, 50, 75, 100]" aria-label="Select page of users"></mat-paginator>
        </mat-tab>
            

        <mat-tab label="Persons">Hier kommen die Personen</mat-tab>
    </mat-tab-group>
</div>