/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Navigation and Toolbar Style */
.toolbar-style {
    color: rgb(255, 129, 1);
    width: auto;
    display: flex;
    flex-direction: row;
}
.toolbar-img {
    height: 100%;
}
.toolbar-appname {
    padding-left: 5px;
    color: rgb(255, 129, 1);
    vertical-align: middle;
}.toolbar-deviceid{
    padding-left: 5px;
    vertical-align: middle;
    color: rgba(41, 41, 41, 0.233);
    font-size: 50%;
}

/* App Seeting */
.app-container {
    width: auto;
    display: flex;
    flex-direction: column;
}
.search-filter {
    align-self: center;
    width: 99%;
}
.progress-bar-centered {
    align-self: center;
}
.itemtable-download-button{
    justify-content: flex-end;
    display: flex;
}
.expandable-list-entry{
    min-width: 100%;
}
.expandable-list-entry-description{
    flex-basis: 0;
    justify-content: space-between;
    align-items: center;
}